build/
out/
.vs/
.vscode/
*.user
CMakeSettings.json
assets/*.glb
assets/*.gltf
assets/*.obj
assets/*.dae
assets/*.hdr
assets/**/*.bin
assets/**/*.png
assets/**/*.jpg
.claude
screenshots/
Bistro_v5_2/
dae/